<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Correction page</title>
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/correction-page.css" rel="stylesheet">
    <script defer type="module" src="static/js/correction-page.js"></script>
</head>

<body>
    <span id="switchButton">
        <button id="prev">Précédent</button>
        <button id="next">Suivant</button>
    </span>
    <span id="tableDiv">
        <button hidden id="edit">Editer</button>
        <button hidden id="send">Mise a jour de la base de donnée</button>
        <table id="table">
            <thead id="resultTitle"></thead>
            <tbody id="resultSearch"></tbody>
        </table>
        <button hidden class="clickable" id="prev">Précédent</button>
        <span id="pageDisplay"></span>
        <button hidden class="clickable" id="next">Suivant</button>
    </span>
    <embed id="pdfViewer">

</body>

</html>